{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/objects/crafting/isn_resource_extractor/isn_resource_extractor_body.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
	  /// [ horiz, verti ]
      "position" : [6, 60],
      "dimensions" : [1, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "outputItemGrid" : {
      "type" : "itemgrid",
      "slotOffset" : 1,
      "position" : [40, 32],
      "dimensions" : [6, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "btnExtract" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Extract",
      "position" : [70, 15],
      "callback" : "isn_extract"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "isn_extract"
  ],
  "scripts" : ["/objects/crafting/isn_resource_extractor/isn_resource_extractor_ui.lua"],
  "scriptDelta" : 60
}
