{
	"compatible_types" : [
		"alienrock","ash","biorock","biorock2","blaststone","bonematerial","brainsblock","clay",
		"cloudblock","cobblestone","cobblestonematerial","corruptdirt","crystalblock","deadcore","dermisblock","direstone",
		"dirt","dirtmaterial","drydirt","drysand","eyepiles","fleshblock","floweryblock","frozendirt","frozenwater",
		"geodeblock","geodestone","grassy","grassyrock","gravel","gravelmaterial","hellstone","hive","ice","jellyblock",
		"junk","junktech","limestone","log","magmarock","meteoriterock","moondust","moonrock","moonstone",
		"mossypackeddirt","mud","obsidian","petalblock","plantmatter","purplecrystal","reeds","sand",
		"sand2","sandstone01","sandstonematerial","sewage","shroomblock","slime","slush","snow","spidersilkblock",
		"stomachblock","stonerubble","tar","vine","waste","wetdirt",
		"rock01","rock02","rock03","rock04","rock12","rock14","rock15","rock17","rock19","rock20","tentacleblock",
		"liquidwater","liquidpoison","liquidhealing","liquidlava",
		
		"rottenfood","biosample","fleshstrand", "greenslime"
	],
	"drop_tables" : {
		"alienrock" : {
			"chance_none" : 33,
			"drop_comm" : [ "greenslime", "cellmatter", "biosample", "liquidpoison" ],
			"drop_rare" : [ "venomsample", "staticcell" ]
		},
		"ash" : {
			"chance_none" : 75,
			"drop_comm" : [ "money", "coalore", "plantfibre", "string", "wire" ],
			"drop_rare" : [ "copperore", "ironore" ]
		},
		"biorock" : {
			"chance_none" : 25,
			"drop_comm" : [ "glowfibre", "petalyellow", "crystal", "liquidwater" ],
			"drop_rare" : [ "staticcell", "scorchedcore", "neonmelonseed" ]
		},
		"biorock2" : {
			"chance_none" : 25,
			"drop_comm" : [ "glowfibre", "petalblue", "crystal", "liquidwater" ],
			"drop_rare" : [ "staticcell", "cryonicextract", "neonmelonseed" ]
		},
		"blaststone" : {
			"chance_none" : 20,
			"drop_comm" : [ "coalore", "ironore", "tungstenore", "corefragmentore", "liquidlava" ],
			"drop_rare" : [ "scorchedcore", "diamond", "corefragmentore" ]
		},
		"bonematerial" : {
			"chance_none" : 50,
			"drop_comm" : [  ],
			"drop_rare" : [ "sharpenedclaw", "hardenedcarapace", "bonebooseed", "bone" ]
		},
		"brainsblock" : {
			"chance_none" : 33,
			"drop_comm" : [ "fleshstrand", "biosample", "money", "essence" ],
			"drop_rare" : [ "leather", "money", "essence" ]
		},
		"clay" : {
			"chance_none" : 75,
			"drop_comm" : [ "liquidwater", "dirtmaterial" ],
			"drop_rare" : [ "copperore", "ironore" ]
		},
		"cloudblock" : {
			"chance_none" : 0,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater" ]
		},
		"cobblestone" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"cobblestonematerial" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock01" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock02" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock03" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock04" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock12" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock14" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock15" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock17" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock19" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"rock20" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "goldore", "silverore", "tungstenore", "corefragmentore", "titaniumore", "money", "gravelmaterial" ]
		},
		"corruptdirt" : {
			"chance_none" : 33,
			"drop_comm" : [ "fleshstrand", "biosample" ],
			"drop_rare" : [ "leather" ]
		},
		"crystalblock" : {
			"chance_none" : 25,
			"drop_comm" : [ "glass" ],
			"drop_rare" : [ "cryonicextract", "staticcell", "crystal" ]
		},
		"deadcore" : {
			"chance_none" : 0,
			"drop_comm" : [ "corefragmentore", "liquidlava" ],
			"drop_rare" : [ "titaniumore", "durasteelore", "diamond" ]
		},
		"dermisblock" : {
			"chance_none" : 25,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand", "bone" ],
			"drop_rare" : [ "venomsample", "phasematter" ]
		},
		"direstone" : {
			"chance_none" : 20,
			"drop_comm" : [ "larva", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"dirt" : {
			"chance_none" : 90,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone", "liquidwater" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"dirtmaterial" : {
			"chance_none" : 90,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone", "liquidwater" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"drydirt" : {
			"chance_none" : 90,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"drysand" : {
			"chance_none" : 66,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond", "money" ]
		},
		"eyepiles" : {
			"chance_none" : 33,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand" ],
			"drop_rare" : [ "phasematter" ]
		},
		"fleshblock" : {
			"chance_none" : 50,
			"drop_comm" : [ "money", "biosample" ],
			"drop_rare" : [ "leather", "pussplumseed", "wartweedseed", "fleshstrand", "money" ]
		},
		"floweryblock" : {
			"chance_none" : 15,
			"drop_comm" : [ "petalred", "petalyellow", "petalblue", "bone" ],
			"drop_rare" : [ "livingroot" ]
		},
		"frozendirt" : {
			"chance_none" : 90,
			"drop_comm" : [ "liquidwater", "drydirt" ],
			"drop_rare" : [ "eggshootseed", "oculemonseed", "sugarcaneseed", "cryonicextract" ]
		},
		"frozenwater" : {
			"chance_none" : 25,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"geodeblock" : {
			"chance_none" : 15,
			"drop_comm" : [ "crystal", "prisiliteore", "money" ],
			"drop_rare" : [ "diamond", "geode", "money" ]
		},
		"geodestone" : {
			"chance_none" : 15,
			"drop_comm" : [ "crystal", "prisiliteore", "money", "titaniumore", "durasteelore" ],
			"drop_rare" : [ "diamond", "aegisaltore", "feroziumore", "violiumore", "solariumore", "money" ]
		},
		"grassy" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "livingroot" ]
		},
		"grassyrock" : {
			"chance_none" : 25,
			"drop_comm" : [ "money", "copperore", "ironore", "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore", "livingroot" ]
		},
		"gravel" : {
			"chance_none" : 90,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"gravelmaterial" : {
			"chance_none" : 90,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"hellstone" : {
			"chance_none" : 20,
			"drop_comm" : [ "larva", "greenslime", "fleshstrand" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"hive" : {
			"chance_none" : 20,
			"drop_comm" : [ "larva", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"ice" : {
			"chance_none" : 33,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"jellyblock" : {
			"chance_none" : 15,
			"drop_comm" : [ "greenslime", "liquidpoison", "cellmatter", "fleshstrand", "money" ],
			"drop_rare" : [ "venomsample", "livingroot", "phasematter", "money", "essence" ]
		},
		"junk" : {
			"chance_none" : 33,
			"drop_comm" : [ "wire", "ironore", "copperore", "glass" ],
			"drop_rare" : [ "battery", "smallbattery", "stickofram", "siliconboard" ]
		},
		"junktech" : {
			"chance_none" : 33,
			"drop_comm" : [ "wire", "ironore", "copperore", "glass" ],
			"drop_rare" : [ "battery", "smallbattery", "stickofram", "siliconboard" ]
		},
		"limestone" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"log" : {
			"chance_none" : 0,
			"drop_comm" : [ "coalore" ],
			"drop_rare" : [ "coalore" ]
		},
		"magmarock" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidlava", "ironore" ],
			"drop_rare" : [ "scorchedcore", "obsidian" ]
		},
		"meteoriterock" : {
			"chance_none" : 15,
			"drop_comm" : [ "copperore", "ironore", "silverore", "tungstenore", "money" ],
			"drop_rare" : [ "titaniumore", "durasteelore", "goldore", "diamond", "money" ]
		},
		"moondust" : {
			"chance_none" : 75,
			"drop_comm" : [ "money" ],
			"drop_rare" : [ "phasematter", "money", "liquidfuel" ]
		},
		"moonrock" : {
			"chance_none" : 50,
			"drop_comm" : [ "money", "liquidfuel" ],
			"drop_rare" : [ "phasematter", "money", "solidfuel" ]
		},
		"moonstone" : {
			"chance_none" : 25,
			"drop_comm" : [ "money", "solidfuel", "liquidfuel" ],
			"drop_rare" : [ "phasematter", "money", "liquidfuel" ]
		},
		"mossypackeddirt" : {
			"chance_none" : 50,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "livingroot" ]
		},
		"mud" : {
			"chance_none" : 90,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "liquidwater" ],
			"drop_rare" : [ "bananaseed", "kiwiseed", "pineappleseed", "avesmingoseed", "cottonseed" ]
		},
		"obsidian" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidlava", "glass", "crystal" ],
			"drop_rare" : [ "scorchedcore" ]
		},
		"petalblock" : {
			"chance_none" : 10,
			"drop_comm" : [ "petalred", "petalyellow", "petalblue", "giantflowerpetal" ],
			"drop_rare" : [ "livingroot" ]
		},
		"plantmatter" : {
			"chance_none" : 20,
			"drop_comm" : [ "petalred", "petalyellow", "petalblue", "giantflowerpetal" ],
			"drop_rare" : [ "livingroot", "plantfibre" ]
		},
		"purplecrystal" : {
			"chance_none" : 15,
			"drop_comm" : [ "crystal" ],
			"drop_rare" : [ "phasematter" ]
		},
		"reeds" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre" ],
			"drop_rare" : [ "livingroot" ]
		},
		"sand" : {
			"chance_none" : 66,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond", "money" ]
		},
		"sand2" : {
			"chance_none" : 66,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond", "glass", "money" ]
		},
		"sandstone01" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sandstonematerial" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "sand" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sewage" : {
			"chance_none" : 33,
			"drop_comm" : [ "toxicwaste", "greenslime", "liquidpoison", "biosample" ],
			"drop_rare" : [ "venomsample", "toxictopseed", "dirturchinseed", "wartweedseed" ]
		},
		"shroomblock" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "money", "liquidwater"],
			"drop_rare" : [ "livingroot", "shroom", "money" ]
		},
		"slime" : {
			"chance_none" : 33,
			"drop_comm" : [ "greenslime", "liquidslime", "cellmatter" ],
			"drop_rare" : [ "venomsample" ]
		},
		"slush" : {
			"chance_none" : 33,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"snow" : {
			"chance_none" : 33,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"spidersilkblock" : {
			"chance_none" : 0,
			"drop_comm" : [ "silk" ],
			"drop_rare" : [ "silk" ]
		},
		"stomachblock" : {
			"chance_none" : 33,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand", "liquidpoison" ],
			"drop_rare" : [ "venomsample" ]
		},
		"stonerubble" : {
			"chance_none" : 33,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"tar" : {
			"chance_none" : 50,
			"drop_comm" : [ "liquidoil", "bone", "coalore" ],
			"drop_rare" : [ "bonebooseed", "scorchedcore" ]
		},
		"vine" : {
			"chance_none" : 10,
			"drop_comm" : [ "plantfibre" ],
			"drop_rare" : [ "livingroot" ]
		},
		"waste" : {
			"chance_none" : 25,
			"drop_comm" : [ "toxicwaste", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "venomsample", "toxictopseed" ]
		},
		"wetdirt" : {
			"chance_none" : 90,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "liquidwater" ],
			"drop_rare" : [ "coralcreepseed", "reefpodseed", "pearlpeaseed" ]
		},
		"tentacleblock" : {
			"chance_none" : 55,
			"drop_comm" : [ "cellmatter", "money", "bone", "fleshstrand" ],
			"drop_rare" : [ "money", "phasematter", "fleshblock", "venomsample", "essence" ]
		},
		"liquidwater" : {
			"chance_none" : 55,
			"drop_comm" : [ "cellmatter", "money", "bone", "fleshstrand" ],
			"drop_rare" : [ "money", "phasematter", "fleshblock", "venomsample", "essence" ]
		},
		"liquidpoison" : {
			"chance_none" : 50,
			"drop_comm" : [ "cellmatter", "money", "bone", "fleshstrand", "fleshblock" ],
			"drop_rare" : [ "money", "phasematter", "venomsample", "essence" ]
		},
		"liquidhealing"	: {
			"chance_none" : 50,
			"drop_comm" : [ "cellmatter", "money", "bone", "fleshstrand", "fleshblock", "liquidwater" ],
			"drop_rare" : [ "money", "phasematter", "venomsample", "essence" ]
		},
		//items
		"rottenfood" : {
			"chance_none" : 0,
			"drop_comm" : [ "money" ],
			"drop_rare" : [ "cellmatter", "biosample", "bone", "fleshstrand", "fleshblock" ]
		},
		"biosample" : {
			"chance_none" : 0,
			"drop_comm" : [ "money" ],
			"drop_rare" : [ "cellmatter", "essence" ]
		},
		"fleshstrand" : {
			"chance_none" : 0,
			"drop_comm" : [ "money" ],
			"drop_rare" : [ "cellmatter", "essence", "bone", "biosample" ]
		},
		"liquidlava": {
			"chance_none" : 20,
			"drop_comm" : [ "coalore", "ironore", "tungstenore", "corefragmentore", "obsidian" ],
			"drop_rare" : [ "scorchedcore", "diamond", "corefragmentore" ]
		},
		"greenslime" : {
			"chance_none" : 50,
			"drop_comm" : [ "money" ],
			"drop_rare" : [ "cellmatter", "essence" ]
		}
		
	}
}
