{
	"attack" : {
		"default" : {
			"default" : [
			"Your blood will consecrate our cause!"
			]
			},
			"human" : {
			"default" : [
			"I'll wear your intestines as a trophy!",
			"The Occasus feast on your weakness!",
			"Your skull will adorn Nox's armor!",
			"Beg for mercy - it'll make this more fun!",
			"I'll carve my loyalty in your flesh!",
			"Your heartbeat counts your remaining seconds!",
			"The Foundry will melt your pathetic bones!",
			"This blade thirsts for nonbeliever blood!",
			"I'll make art from your mangled corpse!",
			"Your death funds our holy crusade!",
			"Hear your bones crack beneath my steel!",
			"Nox watches me gut you personally!"
			],
			"apex" : [
			"Your rebellion ends at my blade's edge!",
			"I'll string your fur on Nox's banner!",
			"Simpering ape - meet true strength!",
			"Your intelligence won't stop this cleaver!",
			"Muzzle yourself before I remove it!",
			"I'll make a rug from your pelt!",
			"Your corpse will fertilize our conquest!",
			"No banana trees where I'm sending you!",
			"Your kind should've stayed enslaved!"
			],
			"avian" : [
			"I'll make wing-soup from your carcass!",
			"Your feathers will choke on your blood!",
			"Time to clip your wings permanently!",
			"Caw your last, sky-rat!",
			"Your hollow bones will powder easily!",
			"No nest safe from Occasus steel!",
			"I'll roast your corpse on a spit!",
			"Your talons break against true metal!",
			"The skies will rain your entrails!"
			],
			"floran" : [
			"Your thorns can't stop my machete!",
			"I'll plant your head as a warning!",
			"Weed-kin bleed just like flowers!",
			"Your savagery meets civilized steel!",
			"I'll use your vines as tourniquets!",
			"Fertilize our foundries with your pulp!",
			"Primitive trash - die screaming!",
			"Your tribe next after I mulch you!",
			"No more 'ssstab' for you, lizard!"
			],
			"human" : [
			"Traitor meat tastes sweetest!",
			"Your organs will fund our crusade!",
			"I'll salt the earth with your blood!",
			"Your weakness disgusts the Occasus!",
			"Nox smiles as I cleave you!",
			"Your corpse warns other cowards!",
			"Feel true faith in every cut!",
			"Bleed out praying to false idols!",
			"I'll mount your head on my pauldron!"
			],
			"hylotl" : [
			"I'll pickle your corpse in brine!",
			"Drown in your own blood, fish!",
			"Your art ends with my axe stroke!",
			"Sushi for the Foundry's furnace!",
			"Your scales won't stop my spear!",
			"Choke on air like the fish you are!",
			"I'll use your fins as bookmarks!",
			"No pond deep enough to hide!",
			"Your ink will stain our banners!"
			],
			"glitch" : [
			"I'll oil my blade with your coolant!",
			"Your gears will decorate my shield!",
			"Time for permanent malfunction!",
			"Scrap metal for the Foundry!",
			"Let's see your circuits bleed!",
			"Your programming ends here!",
			"I'll repurpose your pathetic frame!",
			"No update saves you from me!",
			"Error: Blade through CPU!"
			],
			"novakid" : [
			"I'll extinguish your starlight!",
			"Your glow fades with your pulse!",
			"Stardust can't stop cold steel!",
			"I'll bury your nebula dreams!",
			"Your light dies with my shadow!",
			"Freak of nature meets true order!",
			"The dark claims your spark!",
			"I'll wear your core as jewelry!",
			"Supernova this, abomination!"
			]
		}
	}
}