{
"attack" : {
"default" : {
"default" : [
"None shall pass!"
]
},
"human" : {
"default" : [
"NO REST FOR THE HEATHEN!",
"Ruin wants YOU! Alive or a skull!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"apex" : [
"NO REST FOR THE MONKEY!",
"I see the technology on you, hairy. I will take your skull!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"avian" : [
"NO REST FOR THE ROOSTER!",
"Know then, your foul kind worships a demon!",
"Off the face of the universe, rock lover!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"floran" : [
"NO REST FOR THE WEED!",
"Burn! Burn! Burn!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"human" : [
"NO REST FOR THE HEATHEN!",
"Ruin wants YOU! Alive or a skull!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"hylotl" : [
"NO REST FOR THE TOAD!",
"I wont read your fan fiction, you slimy-slimy fish!",
"Punish the stink with fire!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"glitch" : [
"NO REST FOR THE MACHINE!",
"Send you to the scrapheap, robot!",
"You're not even truly alive, robot!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
],
"novakid" : [
"NO REST FOR THE HEATHEN!",
"Swampy, glowing thing!",
"I don't even know WHAT you are!",
"SKULLS!",
"SLAUGHTER!",
"BLOOD!",
"We are the Occasus! We are the righteous!",
"KILL! KILL! KILL!",
"RUIN TO ALL!"
]
}
}
}
