{
"nameGen" : [
{ "mode" : "alts" },
[
{ "mode" : "serie" },
[ { "mode" : "alts" }, "Manaticon ", "Rotik ", "Callox ", "Graxus ", "Xia-Li ", "Shade Co. ", "Necrolix ", "Teklacki " ],
[ { "mode" : "alts" }, "'Kaito' ", "'Sea of Eyes' ", "'Seven Suns' ", "'Kharn' ", "'Bloodletter' ", "'Devourer' ","'Hitomi' "],
[ { "mode" : "alts" }, "rifle", "gun", "sprayer", "stopper", "sprinkler", "blaster", "howitzer", "ender", "ruin", "sinner", "slayer", "plugger", "pump", "expeller", "barrage"   ]
]
]
}
